
<%= link_to "修改", edit_adm_place_path, class: "btn btn-outline-warning" %>
<br><br>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">City</th>
      <th scope="col">District</th>
      <th scope="col">Address</th>
      <th scope="col">Lat.</th>
      <th scope="col">Lng.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @place.id %></th>
      <td><%= @place.name %></td>
      <td><%= @place.description %></td>
      <td><%= @place.city %></td>
      <td><%= @place.district %></td>
      <td><%= @place.address %></td>
      <td><%= @place.latitude %></td>
      <td><%= @place.longitude %></td>
    </tr>
  </tbody>
</table>
<%= @place.full_address %>