
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-white border-bottom box-shadow navbar-fixed-top">
    <div class="container-fluid">
      <%= link_to "Places2Go", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <%= link_to "所有地點", places_path, class: "nav-link text-muted" %>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
  
        <div class="btn-group">
          <% if user_signed_in? %>
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.username %>
            </button>
      
            <div class="dropdown-menu dropdown-menu-right">
              <% if current_user.admin? %>
                <button class="dropdown-item" type="button">
                  <%= link_to "Dashboard", adm_places_path %>
                </button>
              <% end %>
              <button class="dropdown-item" type="button"><%= link_to "我的最愛", adm_likes_path %></button>
              <button class="dropdown-item" type="button"><%= link_to "設定", edit_user_registration_path %></button>
              <button class="dropdown-item" type="button"><%= link_to "Logout", destroy_user_session_path, method: :delete %></button>  
            </div>
          <% else %>
            <div class="nav navbar-nav navbar-right">
              <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary" %>
              <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </nav>