
<%= tag.div nil, id: 'map', data: {places: @place.to_json(methods: [:full_address]) } %>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @place.id %></th>
      <td><%= @place.name %></td>
      <td><%= @place.description %></td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>

<div id="likes">
  <%= render partial: "likes" %>
</div>


<hr>
<h3>Vue.js</h3>
<br>

        <app inline-template :message="<%= " GO GO RAILS ".to_json %>">
          <h1>{{message}}</h1>
        </app>
        
        <% 1.upto(10).each do |i| %>
          <app :message="<%= i.to_json %>"></app>
          <% end %>
        
            <app :message="<%= " testing ".to_json %>"></app>
            <app></app>
            <app></app>
            <app></app>
            <app></app>
            <app></app>